body{
    font-family: 'Poppins', sans-serif;  
}
h1{
    font-size: 40px;
}
.first{
    color: blueviolet;
}
section{
    display: flex;
}
.first-top-pic{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.first-top-pic img{
    width: 70%;
    padding-left: 10px;
}
.last-line{
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(230, 16, 16);
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(236, 43, 9),rgb(84, 84, 248));
    color: white;
}
.my-bg{
    background-image: url(images/my-bg.png);
    background-repeat: no-repeat;
    background-size: 5%;
}
.second-part{
    padding-left: 5%;
    
    }
    .shadow{
        padding-top: 10%;
        border-radius: 10px;
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        margin-left: 2%;
        margin-right: 2%;
    box-shadow:5px 5px 100px plum;
    
}
#blue{background-color: skyblue;
    background-image: url(illustrators/illustrator-1.png);
    background-size: 50%;
    background-repeat: no-repeat;;
    background-position: top;}
#purple{background-color: tomato;
    background-image: url(illustrators/illustrator-2.png);
    background-position: top;
    background-size: 50%;
    background-repeat: no-repeat;}
#pink{
    background-color: pink;
    background-image: url(illustrators/illustrator-3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
}
.mission{
    text-align: center;
    font-size: 44px;
}
.orange{
    color: orange;
}
#second-pic{
    padding-top: 7%;
    width: 150%;
}
#pic-pad{
    padding-top: 2%;
}
#confident{
    text-align: right;
    text-align: left;
   padding-right: 20%;
    margin-right: 20%;
}
.font-size{
    font-size: 30px;
}